.highlight table td {
  padding: 5px;
}

.highlight table pre {
  margin: 0;
}

.highlight,
.highlight .w {
  color: var(--text-color);
  background-color: transparent;
}

// Keywords
.highlight .k,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kt,
.highlight .kv {
  color: var(--syntax-keyword);
}

.highlight .gr {
  color: var(--gray-50);
}

.highlight .gd {
  color: #82071e;
  background-color: #ffebe9;
}

// Built-ins/Classes
.highlight .nb,
.highlight .nc,
.highlight .no,
.highlight .nn {
  color: var(--syntax-type);
}

// Attributes/Tags
.highlight .sr,
.highlight .na,
.highlight .nt {
  color: var(--syntax-variable);
}

.highlight .gi {
  color: #116329;
  background-color: #dafbe1;
}

.highlight .ges {
  font-weight: bold;
  font-style: italic;
}

// Constants/Numbers
.highlight .kc,
.highlight .l,
.highlight .ld,
.highlight .m,
.highlight .mb,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .il,
.highlight .mo,
.highlight .mx {
  color: var(--syntax-constant);
}

.highlight .sb {
  color: var(--syntax-string);
}

.highlight .bp {
  color: var(--syntax-constant);
}

.highlight .ne {
  color: var(--syntax-constant);
}

.highlight .nl {
  color: var(--syntax-constant);
}

.highlight .py {
  color: var(--syntax-variable);
}

.highlight .nv,
.highlight .vc,
.highlight .vg,
.highlight .vi,
.highlight .vm {
  color: var(--syntax-variable);
}

// Operators
.highlight .o,
.highlight .ow {
  color: var(--syntax-operator);
}

.highlight .gh {
  color: var(--syntax-constant);
  font-weight: bold;
}

.highlight .gu {
  color: var(--syntax-constant);
  font-weight: bold;
}

// Strings
.highlight .s,
.highlight .sa,
.highlight .sc,
.highlight .dl,
.highlight .sd,
.highlight .s2,
.highlight .se,
.highlight .sh,
.highlight .sx,
.highlight .s1,
.highlight .ss {
  color: var(--syntax-string);
}

.highlight .nd {
  color: var(--syntax-function);
}

// Functions
.highlight .nf,
.highlight .fm {
  color: var(--syntax-function);
}

.highlight .err {
  color: var(--gray-50);
  background-color: #82071e;
}

// Comments
.highlight .c,
.highlight .ch,
.highlight .cd,
.highlight .cm,
.highlight .cp,
.highlight .cpf,
.highlight .c1,
.highlight .cs {
  color: var(--syntax-comment);
  font-style: italic;
}

.highlight .gl {
  color: var(--syntax-comment);
}

.highlight .gt {
  color: var(--syntax-comment);
}

.highlight .ni {
  color: var(--text-color);
}

.highlight .si {
  color: var(--text-color);
}

.highlight .ge {
  color: var(--text-color);
  font-style: italic;
}

.highlight .gs {
  color: var(--text-color);
  font-weight: bold;
}